In [74]:
import numpy as np
import matplotlib.pyplot as plt
import pickle as pickle
import pandas as pd

In [75]:
datasets = ['boston', 'concrete', 'energy-efficiency', 'kin8nm', 'naval', 'power-plant', 'protein', 'wine', 'yacht']

In [76]:
for d in datasets:
    # create a dataframe for each model and their results
    evidental_gauss_df = pd.DataFrame()
    dropout_df = pd.DataFrame()
    ensemble_df = pd.DataFrame()
    evidental_df = pd.DataFrame()
    bbbp_df = pd.DataFrame()

    for i in range(0, 20):
        with open('results/'+d+'/evidental_gauss'+str(i)+'.pickle', 'rb') as handle:
            evidental_gauss = pickle.load(handle)

        evidental_gauss_df = pd.concat([evidental_gauss_df, pd.DataFrame(evidental_gauss)], ignore_index=True)
        evidental_gauss_df.replace(np.inf, np.nan, inplace=True)
        evidental_gauss_df.dropna(inplace=True)

        with open('results/'+d+'/dropout'+str(i)+'.pickle', 'rb') as handle:
            dropout = pickle.load(handle)
        
        # add the dropout results to the dataframe
        dropout_df = pd.concat([dropout_df, pd.DataFrame(dropout)], ignore_index=True)


        with open('results/'+d+'/ensemble'+str(i)+'.pickle', 'rb') as handle:
            ensemble = pickle.load(handle)

        # add the ensemble results to the dataframe
        ensemble_df = pd.concat([ensemble_df, pd.DataFrame(ensemble)], ignore_index=True)

        with open('results/'+d+'/evidental'+str(i)+'.pickle', 'rb') as handle:
            evidental = pickle.load(handle)
        
        # add the evidental results to the dataframe
        evidental_df = pd.concat([evidental_df, pd.DataFrame(evidental)], ignore_index=True)

    evidental_gauss_df.replace(np.inf, np.nan, inplace=True)
    evidental_gauss_df.dropna()
    # print the results as a latex table
    #print(d + " & ${:,.2f} \pm {:,.2f}$  & ${:,.2f} \pm {:,.2f}$  & ${:,.2f} \pm {:,.2f}$ & ${:,.2f} \pm {:,.2f}$ & ${:,.2f} \pm {:,.2f}$ &  ${:,.2f} \pm {:,.2f}$ &${:,.2f} \pm {:,.2f}$ & ${:,.2f} \pm {:,.2f}$ &  ${:,.2f}$ &${:,.2f}$ & ${:,.2f}$ &  ${:,.2f}$  \\\\".format(dropout_df.tls.mean(), 2.0*dropout_df.tls.std(), bbbp_df.tls.mean(), 2.0*bbbp_df.tls.std(), ensemble_df.tls.mean(), 2.0*ensemble_df.tls.std(), evidental_df.tls.mean(), 2.0*evidental_df.tls.std(), dropout_df.nlls.mean(), 2.0*dropout_df.nlls.std(),bbbp_df.nlls.mean(), 2.0*bbbp_df.nlls.std(), ensemble_df.nlls.mean(), 2.0*ensemble_df.nlls.std(), evidental_df.nlls.mean(), 2.0*evidental_df.nlls.std(), dropout_df.times.mean()/evidental_df.times.mean(),bbbp_df.times.mean()/evidental_df.times.mean(), ensemble_df.times.mean()/evidental_df.times.mean(), evidental_df.times.mean()/evidental_df.times.mean()))
    #print(d + " & ${:,.2f} \pm {:,.2f}$ & ${:,.2f} \pm {:,.2f}$ &  ${:,.2f} \pm {:,.2f}$ &${:,.2f} \pm {:,.2f}$ & ${:,.2f} \pm {:,.2f}$ &  ${:,.2f} \pm {:,.2f}$ &${:,.2f}$ & ${:,.2f}$ &  ${:,.2f}$  \\\\".format(dropout_df.tls.mean(), 2.0*dropout_df.tls.std(), ensemble_df.tls.mean(), 2.0*ensemble_df.tls.std(), evidental_df.tls.mean(), 2.0*evidental_df.tls.std(), dropout_df.nlls.mean(), 2.0*dropout_df.nlls.std(), ensemble_df.nlls.mean(), 2.0*ensemble_df.nlls.std(), evidental_df.nlls.mean(), 2.0*evidental_df.nlls.std(), dropout_df.times.mean()/evidental_df.times.mean(), ensemble_df.times.mean()/evidental_df.times.mean(), evidental_df.times.mean()/evidental_df.times.mean()))
    print(d + "& ${:,.2f} \pm {:,.2f}$ &  ${:,.2f} \pm {:,.2f}$ & ${:,.2f} \pm {:,.2f}$ & ${:,.2f} \pm {:,.2f}$ &  ${:,.2f} \pm {:,.2f}$ &${:,.2f} \pm {:,.2f}$ & ${:,.2f} \pm {:,.2f}$ &  ${:,.2f} \pm {:,.2f}$ &${:,.2f}$ &${:,.2f}$ & ${:,.2f}$ &  ${:,.2f}$  \\\\".format(evidental_gauss_df.tls.mean(), 2.0*evidental_gauss_df.tls.std(), dropout_df.tls.mean(), 2.0*dropout_df.tls.std(), ensemble_df.tls.mean(), 2.0*ensemble_df.tls.std(), evidental_df.tls.mean(), 2.0*evidental_df.tls.std(), evidental_gauss_df.nlls.mean(), 2.0*evidental_gauss_df.nlls.std(), dropout_df.nlls.mean(), 2.0*dropout_df.nlls.std(), ensemble_df.nlls.mean(), 2.0*ensemble_df.nlls.std(), evidental_df.nlls.mean(), 2.0*evidental_df.nlls.std(), evidental_gauss_df.times.mean()/evidental_df.times.mean(), dropout_df.times.mean()/evidental_df.times.mean(), ensemble_df.times.mean()/evidental_df.times.mean(), evidental_df.times.mean()/evidental_df.times.mean()))

boston& $1.09 \pm 1.12$ &  $0.58 \pm 0.08$ & $0.53 \pm 0.03$ & $0.49 \pm 0.03$ &  $7.18 \pm 1.12$ &$5.50 \pm 0.23$ & $5.40 \pm 0.09$ &  $5.35 \pm 0.35$ &$1.01$ &$6.36$ & $4.25$ &  $1.00$  \\
concrete& $1.09 \pm 0.10$ &  $1.10 \pm 0.17$ & $1.06 \pm 0.06$ & $1.08 \pm 0.10$ &  $7.18 \pm 0.10$ &$6.78 \pm 0.31$ & $6.65 \pm 0.09$ &  $6.77 \pm 0.27$ &$0.86$ &$5.85$ & $3.89$ &  $1.00$  \\
energy-efficiency& $0.26 \pm 0.04$ &  $0.30 \pm 0.05$ & $0.28 \pm 0.02$ & $0.24 \pm 0.02$ &  $6.35 \pm 0.04$ &$3.91 \pm 0.29$ & $3.75 \pm 0.13$ &  $3.41 \pm 0.16$ &$0.87$ &$6.32$ & $4.05$ &  $1.00$  \\
kin8nm& $0.01 \pm 0.00$ &  $0.02 \pm 0.00$ & $0.02 \pm 0.00$ & $0.01 \pm 0.00$ &  $6.11 \pm 0.00$ &$-1.58 \pm 0.08$ & $-1.71 \pm 0.04$ &  $-1.80 \pm 0.06$ &$0.93$ &$8.22$ & $4.12$ &  $1.00$  \\
naval& $0.00 \pm 0.00$ &  $0.00 \pm 0.00$ & $0.00 \pm 0.00$ & $0.00 \pm 0.00$ &  $6.09 \pm 0.00$ &$-10.52 \pm 0.41$ & $-10.58 \pm 0.15$ &  $-10.83 \pm 0.36$ &$0.94$ &$8.63$ & $4.06$ &  $1.00$  \\
power-plant& $0.89 \pm 0.01$ &  $0.89 \pm 0.02$ & $0.87 \pm 0.01$ & $0.86 \pm 0.01$ &  $6.98 \pm 0.01$ &$6.44 \pm 0.05$ & $6.38 \pm 0.02$ &  $6.46 \pm 0.04$ &$0.93$ &$8.42$ & $4.18$ &  $1.00$  \\
protein& $nan \pm nan$ &  $0.74 \pm 0.01$ & $0.73 \pm 0.00$ & $0.76 \pm 0.04$ &  $nan \pm nan$ &$5.79 \pm 0.04$ & $5.75 \pm 0.02$ &  $5.89 \pm 0.13$ &$nan$ &$9.62$ & $3.32$ &  $1.00$  \\
wine& $0.13 \pm 0.03$ &  $0.12 \pm 0.00$ & $0.12 \pm 0.00$ & $0.12 \pm 0.00$ &  $6.23 \pm 0.03$ &$2.49 \pm 0.14$ & $2.40 \pm 0.03$ &  $2.52 \pm 0.17$ &$0.97$ &$6.83$ & $4.20$ &  $1.00$  \\
yacht& $0.17 \pm 0.16$ &  $0.21 \pm 0.04$ & $0.21 \pm 0.01$ & $0.17 \pm 0.02$ &  $6.27 \pm 0.16$ &$2.71 \pm 0.62$ & $2.54 \pm 0.17$ &  $1.87 \pm 0.41$ &$0.91$ &$5.85$ & $4.11$ &  $1.00$  \\

In [77]:
d = 'protein'
# create a dataframe for each model and their results
evidental_gauss_df = pd.DataFrame()
dropout_df = pd.DataFrame()
ensemble_df = pd.DataFrame()
evidental_df = pd.DataFrame()
bbbp_df = pd.DataFrame()

for i in range(0, 20):
    with open('results/'+d+'/evidental_gauss'+str(i)+'.pickle', 'rb') as handle:
        evidental_gauss = pickle.load(handle)

    evidental_gauss_df = pd.concat([evidental_gauss_df, pd.DataFrame(evidental_gauss)], ignore_index=True)

    with open('results/'+d+'/dropout'+str(i)+'.pickle', 'rb') as handle:
        dropout = pickle.load(handle)
    
    # add the dropout results to the dataframe
    dropout_df = pd.concat([dropout_df, pd.DataFrame(dropout)], ignore_index=True)


    with open('results/'+d+'/ensemble'+str(i)+'.pickle', 'rb') as handle:
        ensemble = pickle.load(handle)

    # add the ensemble results to the dataframe
    ensemble_df = pd.concat([ensemble_df, pd.DataFrame(ensemble)], ignore_index=True)

    with open('results/'+d+'/evidental'+str(i)+'.pickle', 'rb') as handle:
        evidental = pickle.load(handle)
    
    # add the evidental results to the dataframe
    evidental_df = pd.concat([evidental_df, pd.DataFrame(evidental)], ignore_index=True)

In [54]:
evidental_gauss_df.replace(np.inf, np.nan, inplace=True)
evidental_gauss_df.dropna(inplace=True)

         tls      nlls     times
1   2.695157  8.789207  0.009144
3   2.434016  8.528068  0.008051
6   2.311611  8.405663  0.011426
7   2.553181  8.647232  0.010667
9   2.532254  8.626307  0.009834
11  2.473305  8.567357  0.008067
15  2.440759  8.534811  0.009140
17  1.831771  7.925822  0.014067
19  2.561483  8.655535  0.011666

In [55]:
evidental_gauss_df

         tls      nlls     times
0        NaN       NaN  0.007993
1   2.695157  8.789207  0.009144
2        NaN       NaN  0.012217
3   2.434016  8.528068  0.008051
4        NaN       NaN  0.009226
5        NaN       NaN  0.012836
6   2.311611  8.405663  0.011426
7   2.553181  8.647232  0.010667
8        NaN       NaN  0.010154
9   2.532254  8.626307  0.009834
10       NaN       NaN  0.011042
11  2.473305  8.567357  0.008067
12       NaN       NaN  0.011336
13       NaN       NaN  0.011458
14       NaN       NaN  0.010136
15  2.440759  8.534811  0.009140
16       NaN       NaN  0.011304
17  1.831771  7.925822  0.014067
18       NaN       NaN  0.010427
19  2.561483  8.655535  0.011666

In [14]:
print(dropout_df.mean())
print(ensemble_df.mean())
print(evidental_df.mean())

tls      0.743330
nlls     5.790858
times    0.097403
dtype: float64
tls      0.731667
nlls     5.746283
times    0.033587
dtype: float64
tls      0.755936
nlls     5.888663
times    0.010120
dtype: float64

In [15]:
#print(dropout_df)
#print(ensemble_df)
print(evidental_df)

         tls      nlls     times
0   0.784944  5.990781  0.011694
1   0.744954  5.847714  0.010884
2   0.785459  5.995404  0.008271
3   0.747156  5.858718  0.009686
4        NaN       NaN  0.010516
5   0.743783  5.846037  0.010333
6   0.787811  6.009517  0.011070
7   0.735230  5.821364  0.010548
8   0.748179  5.858616  0.008156
9   0.775983  5.957837  0.011255
10  0.743635  5.830379  0.007609
11  0.741504  5.834481  0.008240
12  0.748110  5.854728  0.011185
13  0.768675  5.933409  0.010946
14  0.766331  5.930435  0.008234
15  0.739253  5.817686  0.009998
16  0.754034  5.882862  0.012125
17  0.753754  5.884056  0.008355
18  0.738058  5.841913  0.010259
19       NaN       NaN  0.013038

In [16]:
print(dropout_df.times.mean()/evidental_df.times.mean())
print(ensemble_df.times.mean()/evidental_df.times.mean())
print(evidental_df.times.mean()/evidental_df.times.mean())

9.624618614869044
3.3187629940691097
1.0